<div class="vertical card with-cover">
  <a href="<%- post.path.replace('index.html','') %>">
    <div class="cover" style="background-image: url(<%- post.featured_image %>)"></div>
  </a>
  <a href="<%- post.path.replace('index.html','') %>">
    <h4><%- post.title %></h4>
  </a>
  <p class="cite"><a class="<%- post.topic %> tag">#<%- post.topic %></a></p>
</div>
