<% var networkNumbers %>
<% site.posts.forEach(function(data){ %>
  <% if(data.type=='data'){ %>
    <% if(data.title=='network-numbers'){ %>
      <% networkNumbers = data %>
    <% } %>
  <% } %>
<% }) %>
<section id="network-numbers" class="bg-gray">
  <div class="u-full-width container">
    <div class="row">
      <div class="three columns u-transparent u-button">
        <span class="number"><%- networkNumbers.no_of_countries %></span>
        <br>Countries
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number">
          <% var jes = 0; %>
          <% site.posts.forEach(function(confederation){ %>
            <% if(confederation.type=='confederation'){ %>
              <% if(confederation.skip==false){ %>
                <% jes += confederation.no_of_JEs %>
              <% } %>
            <% } %>
          <% }) %>
          <%- number_format(jes, {precision: 0}) %>
        </span>
        <br>Junior Enterprises
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number">
          <% var jeurs = 0; %>
          <% site.posts.forEach(function(confederation){ %>
            <% if(confederation.type=='confederation'){ %>
              <% if(confederation.skip==false){ %>
                <% jeurs += confederation.no_of_JEurs %>
              <% } %>
            <% } %>
          <% }) %>
          <% var thousand_jeurs = Math.round(jeurs/1000) %>
          <%- number_format(thousand_jeurs, {precision: 0}) %>
        </span>
        <span class="symbol">K</span>
        <br>Junior Entrepreneurs
      </div>
      <div class="three columns u-transparent u-button">
        <span class="number">
          <% var projects = 0; %>
          <% site.posts.forEach(function(confederation){ %>
            <% if(confederation.type=='confederation'){ %>
              <% if(confederation.skip==false){ %>
                <% projects += confederation.no_of_projects %>
              <% } %>
            <% } %>
          <% }) %>
          <% var thousand_projects = projects/1000 %>
          <%- number_format(thousand_projects, {precision: 1}) %>
        </span>
        <span class="symbol">K</span>
        <br>Projects in <%- networkNumbers.last_year %>
      </div>
    </div>
    <div class="row">
      <div class="five columns u-transparent u-button">
        <span class="small symbol">US$</span>
        <span class="number">
          <% var turnover = 0; %>
          <% site.posts.forEach(function(confederation){ %>
            <% if(confederation.type=='confederation'){ %>
              <% if(confederation.skip==false){ %>
                <% turnover += confederation.turnover * confederation.conversion_rate %>
              <% } %>
            <% } %>
          <% }) %>
          <% var turnover_millions = projects/1000000 %>
          <%- number_format(turnover_millions, {precision: 1}) %>
        </span>
        <span class="symbol">M</span>
        <br>Turnover in <%- networkNumbers.last_year %>
      </div>
      <div class="seven columns u-transparent u-button">
        <span class="symbol">#1</span>
        <br>Youth entrepreneurship movement <span class="u-inline-block">in the world</span>
      </div>
    </div>
  </div>
</section>
