<div class="team-member">
  <img src="<%- member.profilepic %>">
  <h5><%- member.name %></h5>
  <p><%- member.position %></p>
  <p><a href="mailto:<%- member.email %>"><%- member.email %></a></p>
</div>
