<div class="team-member">
  <img src="<%- teammember.profilepic %>">
  <h5><%- teammember.name %></h5>
  <p><%- teammember.position %></p>
  <p><a href="mailto:<%- teammember.email %>"><%- teammember.email %></a></p>
</div>
