<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standards -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Basic SEO -->
      <% if( page.title == 'Home' ){ %>
        <title><%- config.title %> - <%- page.title %></title>
        <link rel="canonical" href="<%- url.replace('/index.html', '') %>">
      <% } else { %>
        <title><%- page.title %> - <%- config.title %></title>
      <% } %>
      <% if( page.layout == 'post' ){ %>
        <meta name="author" content="<%- page.author %>">
      <% } %>
    <!-- Open Graph -->
      <% if( page.featured_image ){ %>
        <%- open_graph({ type: 'article', image: page.featured_image }) %>
      <% } else { %>
        <%- open_graph({ type: 'article' }) %>
      <% } %>
    <!-- CSS Styles -->
      <link rel="stylesheet" type="text/css" href="/assets/styles.css">
      <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,700" rel="stylesheet">
    <!-- Scripts -->
      <script defer src="/assets/scripts.js"></script>
      <% if( page.title == 'Home' ){ %>
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
      <% } %>
      <% if( page.title == 'Contact' ){ %>
        <script defer src="https://www.google.com/recaptcha/api.js"></script>
      <% } %>
    <!-- Favicon -->
      <%- partial('partial/favicon')%>
    <!-- End of Head -->
  </head>
  <body>
    <%- partial('partial/mobile-navigation')%>
    <div class="main">
      <!-- Website Header -->
        <%- partial('partial/navigation')%>
      <!-- Page Content -->
        <%- body %>
      <!-- Website Footer -->
        <%- partial('partial/footer')%>
    </div>
  </body>
</html>
