<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standards -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Basic SEO -->
      <% if( page.title == 'Home' ){ %>
        <title><%- config.title %> - <%- page.title %></title>
        <link rel="canonical" href="<%- url.replace('/index.html', '') %>">
      <% } else { %>
        <title><%- page.title %> - <%- config.title %></title>
      <% } %>
      <% if( page.layout == 'post' ){ %>
        <meta property="author" content="<%- page.author %>">
      <% } %>
    <!-- Open Graph -->
      <meta property="fb:app_id" content="1731947456924075">
      <% if( page.featured_image ){ %>
        <%- open_graph({ type: 'article', image: page.featured_image }) %>
      <% } else { %>
        <%- open_graph({ type: 'article' }) %>
      <% } %>
    <!-- CSS Styles -->
      <% if( page.title == 'Map' ){ %>
        <link rel="stylesheet" type="text/css" href="/assets/map-styles.css">
      <% } else { %>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
      <% } %>
      <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,700" rel="stylesheet">
    <!-- Scripts -->
      <% if( page.title == 'Home' ){ %>
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
      <% } %>
      <% if( page.title == 'Map' ){ %>
        <script src="/assets/map-scripts.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
      <% } else { %>
        <script defer src="/assets/scripts.js"></script>
      <% } %>
      <% if( page.title == 'Contact' || page.title == 'Start a JE' ){ %>
        <script defer src="https://www.google.com/recaptcha/api.js"></script>
      <% } %>
    <!-- Favicon -->
      <%- partial('partial/favicon')%>
    <!-- End of Head -->
  </head>
  <body>
    <div id="main">
      <!-- Website Header -->
        <%- partial('partial/navigation')%>
      <!-- Page Content -->
        <%- body %>
      <!-- Website Footer -->
        <% if( page.title != 'Map' ){ %>
          <%- partial('partial/footer')%>
        <% } %>
    </div>
    <%- partial('partial/mobile-navigation')%>

    <!-- Modals -->
    <% if( page.title == 'Start a JE' ){ %>
      <%- partial('partial/start-a-je-modals')%>
    <% } %>

    <% if( page.title == 'Map' ){ %>
      <!-- Closing Scripts -->
      <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHGNgA3nZ9AY5dSIhjOdiU-vS7k_iUkw&callback=initMap"></script>
    <% } %>
  </body>
</html>
